@import url(root.css);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100vh;
  background: var(--texture);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 1);
}

.continent > g {
  cursor: pointer;
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.selected > .territory-outline {
  stroke: green;
  stroke-opacity: 1;
  fill: var(--color-selection);
  fill-opacity: 0.5;
  filter: var(--selection-shadow);
}

.reinforce-from-selected > .territory-outline {
  stroke: green;
  stroke-opacity: 1;
  fill: darkgreen;
  fill-opacity: 0.5;
  filter: var(--selection-shadow);
}

.highlight > .territory-outline {
  stroke: rgb(136, 0, 0);
  stroke-width: 4px;
  stroke-opacity: 0.5;
  fill: var(--color-target);
  transition: fill 0.3s ease-in-out;
}

.dice-roll {
  color: transparent !important;
}

.dice-roll::before {
  content: "";
  display: flex;
  position: absolute;
  inset: 0;
  color: var(--text-primary);
  justify-content: center;
  align-items: center;
  animation:
    dice-faces 0.2s step-end infinite,
    roll 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
}

@keyframes dice-faces {
  0% {
    content: "\2680";
  }

  16% {
    content: "\2681";
  }

  32% {
    content: "\2682";
  }

  48% {
    content: "\2683";
  }

  64% {
    content: "\2684";
  }

  80% {
    content: "\2685";
  }
}

@keyframes roll {
  0% {
    transform: scale(0) rotate;
    opacity: 0;
  }

  15% {
    transform: scale(2);
    opacity: 1;
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.05);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.captured {
  transition: all 10s ease-in;
  stroke: green;
  stroke-opacity: 1;
  fill: rgb(8, 204, 8);
  fill-opacity: 0.5;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}
