.game-viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map-layer > div {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-layer:hover {
  cursor: pointer;
}

.ui-layer {
  position: absolute;
  inset: 0;
  padding: 30px;
  pointer-events: none;
}

.ui-layer > * {
  pointer-events: auto;
}

.username-display {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 3%;
  right: 2%;
  font-weight: 800;
  color: var(--text-secondary);
  gap: 10px;
  border: none !important;
  padding: 0.4em 0.7em;
}

#current-player-name {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-secondary);
}

#remaining-troops-to-deploy {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 50%;
}

#troop-svg {
  width: 40px;
  height: 40px;
}

#remaining-troops {
  color: var(--text-primary);
  font-family: var(--primary-font);
  font-size: 2.5em;
  font-weight: bold;
}

.eliminated-palyer {
  background-color: rgb(128, 128, 128);
}