:root {
  --primary-font: sans-serif;
  --secondary-font: "MedievalSharp", serif;
  --color-bg-main: rgb(240, 241, 245);

  --color-accent: #ff4c4c;
  --color-accent-hover: #ff1a1a;

  --color-player-card: rgb(237, 239, 242);

  --text-primary: #171717;
  --text-inverse: #ffffff;

  --color-border-dark: #222;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.4);

  --color-button-text: #222;
  --color-button-hover-bg: #ddd;
  --button-light-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: ghostwhite;
  overflow: hidden;
}

.heading {
  height: 10%;
  background-color: rgb(251, 61, 61);
  font-size: 5em;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#players-container {
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0 5em;
}

.player-container {
  width: 70%;
  height: 60%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  box-shadow: 2px 2px 5px rgb(127, 108, 108);
}

.player-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid gray;
  border-radius: 50%;
  height: 30%;
  width: 40%;
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.player-avatar rect {
  height: 1em;
}

.player-name-container {
  font-size: 30px;
  color: lightgray;
  font-family: "MedievalSharp", serif;
}

#lobby-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 40px;
}

#nav-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  gap: 1em;
}

#leave-button,
#start-btn {
  flex: 1;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: var(--text-inverse);
  animation: pulse 2s infinite;
  box-shadow: var(--shadow-soft);
  background-color: var(--color-accent);
}

#leave-button:hover,
#start-btn:hover {
  background-color: var(--color-accent-hover);
  box-shadow: var(--shadow-strong);
  transform: scale(1.08);
}

#message {
  width: 100%;
  font-size: 28px;
  color: rgb(76, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;
}

#waiting {
  width: 50%;
  text-align: end;
}

#dots {
  width: 30%;
}

#room-id-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  font-size: 32px;
}

#dots::after {
  content: "";
  animation: dots 1s infinite;
}

@keyframes dots {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.player-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px black;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 12px 0px;
}
