* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg-main);
}

.continent-outline {
  fill: none;
  stroke-width: 3px;
  opacity: 1;
  /* pointer-events: none; */
}

#australia-continent-outline {
  stroke: hsl(299, 86%, 36%);
}

#asia-continent-outline {
  stroke: hsl(122, 53%, 53%);
}

#europe-continent-outline {
  stroke: rgb(34, 147, 172);
}

#africa-continent-outline {
  stroke: rgb(120, 92, 5);
}

#north-america-continent-outline {
  stroke: rgb(181, 184, 29);
}

#south-america-continent-outline {
  stroke: rgb(156, 36, 15);
}

#sea-routes {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 4, 1;
}

.territory-outline {
  fill: var(--color-surface);
  stroke: none;
  vector-effect: non-scaling-stroke;
  transition: all 0.3s ease;
}

.territory-name {
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  text-anchor: middle;
  fill: var(--text-secondary);
  pointer-events: none;
}
