* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MedievalSharp&display=swap");

body {
  font-family: var(--primary-font);
  background: var(--texture);
}

.continent-outline {
  fill: none;
  stroke-width: 5px;
  opacity: 1;
}

#australia-continent-outline {
  stroke: var(--cont-australia);
}

#europe-continent-outline {
  stroke: var(--cont-europe);
}

#south-america-continent-outline {
  stroke: var(--cont-south-america);
}

#north-america-continent-outline {
  stroke: var(--cont-north-america);
}

#africa-continent-outline {
  stroke: var(--cont-africa);
}

#asia-continent-outline {
  stroke: var(--cont-asia);
}

#sea-routes {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 4, 1;
}

.territory-outline {
  fill: var(--color-surface);
  stroke: var(--color-map-stroke);
  stroke-width: 1.5px;
  vector-effect: non-scaling-stroke;
  transition: all 0.3s ease;
}

.territory-name {
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  text-anchor: middle;
  fill: var(--text-primary);
  pointer-events: none;
  /* stroke: #ffffff;
  stroke-width: 2px;
  stroke-linejoin: round;
  paint-order: stroke;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2)); */
}

text {
  font-size: 8px;
}

/* #northwest-territory text {
  letter-spacing: 0.2px;
  font-size: 7.5px;
} */

circle {
  fill: transparent;
}

.troop-count {
  font-size: 1em;
  fill: rgba(222, 222, 222, 0.3);
}

#continent-asia .troop-count-container,
#continent-asia .troop-count,
#continent-south-america .troop-count-container,
#continent-south-america .troop-count,
#iceland .troop-count-container,
#iceland .troop-count,
#indonesia .troop-count-container,
#indonesia .troop-count,
#ukraine .troop-count-container,
#ukraine .troop-count {
  transform: translate(0px, -15px);
}

#continent-africa .troop-count-container,
#continent-africa .troop-count,
#continent-north-america .troop-count-container,
#continent-north-america .troop-count {
  transform: translate(4px, 10px);
}

#western-australia .troop-count-container,
#western-australia .troop-count {
  transform: translate(-4px, 10px);
}

#eastern-australia .troop-count-container,
#eastern-australia .troop-count,
#southern-europe .troop-count-container,
#southern-europe .troop-count {
  transform: translate(10px, 12px);
}

#northern-europe .troop-count-container,
#northern-europe .troop-count {
  transform: translate(-20px, 8px);
}

#western-europe .troop-count-container,
#western-europe .troop-count {
  transform: translate(12px, -30px);
}

#scandinavia .troop-count-container,
#scandinavia .troop-count {
  transform: translate(-9px, 30px);
}

#new-guinea .troop-count-container,
#new-guinea .troop-count {
  transform: translate(-18px, -20px);
}
